       <div class="latest">

            <h1>Latest Recipes</h1>

            <div class="media">
                
                <a href="#6">
                    <img src="images/haddock.jpg" alt="Haddock skewers">
                    <h2>Zesty Smoked Haddock Skewers</h2>
                    <p>Cooking time: <span>20</span> minutes</p>
                </a>

            </div><!-- .media -->

            <div class="media">

                <a href="#7">
                    <img src="images/bagel.jpg" alt="Blueberry Bagel">
                    <h2>Creamy Blueberry Bagel</h2>
                    <p>Cooking time: <span>7</span> minutes</p>
                </a>

            </div><!-- .media -->

            <div class="media">

                <a href="#8">
                    <img src="images/roast.jpg" alt="Roast Beef">
                    <h2>Traditional Roast Beef with Yorkshire Sauce</h2>
                    <p>Cooking time: <span>50</span> minutes</p>
                </a>

            </div><!-- .media -->

            <div class="media">
                
                <a href="#9">
                    <img src="images/crab.jpg" alt="Steamed Crab">
                    <h2>Steamed Crab with Ginger and Coriander</h2>
                    <p>Cooking time: <span>40</span> minutes</p>
                </a>

            </div><!-- .media -->

            <a href="#10" class="promo-btn more-btn">discover more recipes</a>

        </div><!-- .latest -->